@use "./variables" as *;

main {
    padding: 0.5em;
    @include btw;
    align-items: flex-start;
}

.left {
    width: 25%;
    height: 670px;
    // height: calc(100vh - 50px);
    padding: 1em;

    .head {
        width: 100%;
        @include btw;
        gap: 1em;
        height: 40px;

        input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            padding-left: 1em;
            border-radius: 0.5em;
            background-color: $gray-color;
        }
    }

    .users {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;

        .user {
            width: 100%;
            height: 60px;
            background-color: $gray-color;
            border-radius: 0.25em;
        }
    }
}

.right {
    @include btw;
    align-items: flex-start;
    gap: 1em;
    width: 75%;
    // height: calc(100vh - 32px);
    height: 670px;


    .head {
        width: 100%;
        height: 70px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    }

    .first_screen {
        width: 100%;
        height: 100%;
        border: 1px solid rgba(128, 128, 128, 0.2);
        border-radius: 0.25em;
        background: linear-gradient(90deg, #FDFCFB, #c3d0e2);
    }

    .second_screen {
        width: 100%;
        height: 100%;
        border: 1px solid rgba(128, 128, 128, 0.2);
        border-radius: 0.25em;
        background: linear-gradient(90deg, #FDFCFB, #c3d8e2);
    }

    .messages {
        height: 80.5%;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        overflow-y: auto;

        p {
            font-size: 1.25em;
        }

        span {
            font-size: 0.65em;
            color: $black-color;
            opacity: 0.6;
            margin-top: -5px;

        }
    }

    .sending {
        width: 100%;
        height: 60px;
        @include btw;
        gap: 1em;
        padding: 1em;
        background-color: white;
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);

        input {
            width: 90%;
            height: 100%;
            font-size: 1.25em;
            border: none;
            outline: none;
            background-color: transparent;
        }

        #hidden_input_1,
        #hidden_input_2 {
            display: none;
        }
    }
}

// scroll
.scrollable {
    width: 100%;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
}

.scrollable::-webkit-scrollbar {
    width: 6px;
}

.scrollable::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// password

.forPassword {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(100px);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passContainer {
    width: 28%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    padding: 2em;
    border-radius: 0.5em;

    input {
        width: 100%;
        height: 60px;
        border-radius: 2em;
        font-size: 1.25em;
        padding-left: 1em;
        border: none;
        outline: none;
    }

    button {
        width: 100%;
        height: 60px;
        border-radius: 0.5em;
        font-size: 1.25em;
        border: none;
        outline: none;
        font-weight: 500;
        letter-spacing: 1.5px;
        cursor: pointer;
    }

    p {
        font-size: 1.25em;
        font-weight: 400;
        color: $white-color;
    }
}

// modal

.modal {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    gap: 0.25em;
    flex-direction: column;

    .btn {
        font-size: 1.25em;
        width: 4em;
        height: 1.5em;
        
    }
}