@use "./variables" as *;

.loginMain {
    @include center;
    width: 100%;
    height: 100vh;
    background-color: rgb(33, 33, 33);

    .loginContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0.5em;

        h1 {
            font-size: 3em;
            font-weight: 500;
            color: white;
        }

        p {
            color: white;
            text-align: center;
            font-size: 1.1em;
            letter-spacing: 1px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            margin-top: 0.75em;
            width: 22%;

            input {
                height: 50px;
                border-radius: 0.35em;
                padding-left: 1em;
                font-size: 1.1em;
                outline: none;
                background-color: transparent;
                border: 1px solid rgba(128, 128, 128, 0.7);
                color: white;
            }

            button {
                height: 50px;
                border-radius: 0.35em;
                font-size: 1.1em;
                letter-spacing: 0.75px;
                background-color: transparent;
                border: 1px solid rgba(128, 128, 128, 0.7);
                background-color: rgb(52, 169, 229);
                color: white;
                cursor: pointer;
            }
        }
    }
}

.loginBtns {
    width: 100%;
    display: flex;
    gap: 0.5em;

    button {
        &:nth-child(1) {
            width: 75%;
        }

        &:nth-child(2) {
            width: 25%;
        }
    }
}

#registerLoadPhoto {
    display: none;
}

#registerViewPhoto {
    background-color: red;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(../elements/telegram.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &:hover {
        opacity: 0.7;
    }
}

.fa-pen {
    position: absolute;
    top: 130px;
    right: 5px;
}