* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: black;
}

i {
  cursor: pointer;
}

main {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}

.left {
  width: 25%;
  height: 670px;
  padding: 1em;
}
.left .head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  height: 40px;
}
.left .head input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 1em;
  border-radius: 0.5em;
  background-color: rgba(175, 175, 175, 0.2);
}
.left .users {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.left .users .user {
  width: 100%;
  height: 60px;
  background-color: rgba(175, 175, 175, 0.2);
  border-radius: 0.25em;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 1em;
  width: 75%;
  height: 670px;
}
.right .head {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.right .first_screen {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 0.25em;
  background: linear-gradient(90deg, #FDFCFB, #c3d0e2);
}
.right .second_screen {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 0.25em;
  background: linear-gradient(90deg, #FDFCFB, #c3d8e2);
}
.right .messages {
  height: 80.5%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow-y: auto;
}
.right .messages p {
  font-size: 1.25em;
}
.right .messages span {
  font-size: 0.65em;
  color: rgb(43, 43, 43);
  opacity: 0.6;
  margin-top: -5px;
}
.right .sending {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1em;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.right .sending input {
  width: 90%;
  height: 100%;
  font-size: 1.25em;
  border: none;
  outline: none;
  background-color: transparent;
}
.right .sending #hidden_input_1,
.right .sending #hidden_input_2 {
  display: none;
}

.scrollable {
  width: 100%;
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
}

.scrollable::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.forPassword {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(100px);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passContainer {
  width: 28%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: rgba(121, 121, 121, 0.5);
  backdrop-filter: blur(20px);
  padding: 1.5em;
  border-radius: 0.5em;
}
.passContainer input {
  width: 100%;
  height: 60px;
  border-radius: 0.5em;
  font-size: 1.25em;
  padding-left: 1em;
  border: none;
  outline: none;
}
.passContainer button {
  width: 100%;
  height: 60px;
  border-radius: 0.5em;
  font-size: 1.25em;
  border: none;
  outline: none;
  font-weight: 500;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.passContainer p {
  font-size: 1.25em;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

#closeLockIcon {
  display: none;
}

.modal {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
  gap: 0.25em;
  flex-direction: column;
}
.modal .btn {
  font-size: 1.25em;
  width: 4em;
  height: 1.5em;
}

/*# sourceMappingURL=style.css.map */
