* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: black;
}

i {
  cursor: pointer;
}

main {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}

.left {
  width: 25%;
  height: 670px;
  padding: 1em;
}
.left .head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  height: 40px;
}
.left .head input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 1em;
  border-radius: 0.5em;
  background-color: rgba(175, 175, 175, 0.2);
}
.left .users {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.left .users .user {
  width: 100%;
  height: 60px;
  background-color: rgba(175, 175, 175, 0.2);
  border-radius: 0.25em;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 1em;
  width: 75%;
  height: 670px;
}
.right .head {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5em;
  align-items: center;
}
.right .head .userLogo {
  background-image: url(../elements/telegram.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.right .head .userLogo:hover {
  opacity: 0.6;
}
.right .head .userInfoModalContainer {
  position: fixed;
  top: -200%;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  backdrop-filter: blur(5px);
  transition: 0.3s;
  z-index: 100;
}
.right .head .userInfoModalContainer #userInfoModal {
  min-width: 30%;
  min-height: 10vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 1.25em;
  padding: 1em;
  margin-top: 1em;
  border-radius: 5px;
}
.right .head .userInfoModalContainer #userInfoModal hr {
  border: 1px solid rgb(194, 194, 194);
}
.right .head .userInfoModalContainer #userInfoModal div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right .head .userInfoModalContainer #userInfoModal div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em 0;
}
.right .head .userInfoModalContainer #userInfoModal div:nth-child(2) p {
  padding: 10px 10px;
  border-radius: 5px;
  width: 100%;
}
.right .head .userInfoModalContainer #userInfoModal div:nth-child(2) p:hover {
  background-color: rgba(128, 128, 128, 0.08);
  cursor: pointer;
}
.right .head .userInfoModalContainer #userInfoModal div:nth-child(2) .userLogoModalContainer .userLogoModal {
  background-image: url(../elements/telegram.svg);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.right .head .userInfoModalContainer #userInfoModal div:nth-child(2) .userLogoModalContainer .userLogoModal:hover {
  opacity: 0.7;
  cursor: pointer;
}
.right .head .userInfoModalContainer #userInfoModal div:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 15px 10px;
  border-radius: 5px;
}
.right .head .userInfoModalContainer #userInfoModal div:nth-of-type(3):hover {
  background-color: rgba(128, 128, 128, 0.08);
  cursor: pointer;
}
.right .head .userInfoModalContainer #userInfoModal div:nth-of-type(4) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 15px 10px;
  border-radius: 5px;
}
.right .head .userInfoModalContainer #userInfoModal div:nth-of-type(4):hover {
  background-color: rgba(128, 128, 128, 0.08);
  cursor: pointer;
}
.right .head .userInfoModalContainer #userInfoModal div:nth-of-type(5) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 15px 10px;
  border-radius: 5px;
}
.right .head .userInfoModalContainer #userInfoModal div:nth-of-type(5):hover {
  background-color: rgba(128, 128, 128, 0.08);
  cursor: pointer;
}
.right .first_screen {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 0.25em;
  background: linear-gradient(90deg, #FDFCFB, #c3d0e2);
}
.right .second_screen {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 0.25em;
  background: linear-gradient(90deg, #FDFCFB, #c3d8e2);
}
.right .messages {
  height: 80.5%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow-y: auto;
}
.right .messages p {
  font-size: 1.25em;
}
.right .messages span {
  font-size: 0.65em;
  color: rgb(43, 43, 43);
  opacity: 0.6;
  margin-top: -5px;
}
.right .sending {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1em;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.right .sending input {
  width: 90%;
  height: 100%;
  font-size: 1.25em;
  border: none;
  outline: none;
  background-color: transparent;
}
.right .sending #hidden_input_1,
.right .sending #hidden_input_2 {
  display: none;
}

.userNewInfoInputContainer {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 90px;
  background-color: rgb(224, 224, 224);
  padding: 0.15em;
  border-radius: 5px;
  position: fixed;
  top: 10em;
}
.userNewInfoInputContainer input {
  height: 100%;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  font-size: 1.25em;
  padding-left: 0.5em;
}
.userNewInfoInputContainer button {
  height: 100%;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  font-size: 1.25em;
  cursor: pointer;
}

#updateUserLogo {
  display: none;
}

.scrollable {
  width: 100%;
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
}

.scrollable::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.forPassword {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(100px);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passContainer {
  width: 28%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: rgba(121, 121, 121, 0.5);
  backdrop-filter: blur(20px);
  padding: 1.5em;
  border-radius: 0.5em;
}
.passContainer input {
  width: 100%;
  height: 60px;
  border-radius: 0.25em;
  font-size: 1.5em;
  padding-left: 1em;
  border: none;
  outline: none;
}
.passContainer button {
  width: 100%;
  height: 60px;
  border-radius: 0.25em;
  font-size: 1.5em;
  border: none;
  outline: none;
  font-weight: 500;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.passContainer p {
  font-size: 1.25em;
  font-weight: 400;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.passContainer #passCode {
  display: block;
}

#logPhone {
  display: none;
}

#closeLockIcon {
  display: none;
}

.p {
  white-space: pre-wrap;
}

.modal {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
  gap: 0.25em;
  flex-direction: column;
}
.modal .btn {
  font-size: 1.25em;
  width: 4em;
  height: 1.5em;
}

.loginMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(33, 33, 33);
}
.loginMain .loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}
.loginMain .loginContainer h1 {
  font-size: 3em;
  font-weight: 500;
  color: white;
}
.loginMain .loginContainer p {
  color: white;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 1px;
}
.loginMain .loginContainer form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 0.75em;
  width: 22%;
}
.loginMain .loginContainer form input {
  height: 50px;
  border-radius: 0.35em;
  padding-left: 1em;
  font-size: 1.1em;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.7);
  color: white;
}
.loginMain .loginContainer form button {
  height: 50px;
  border-radius: 0.35em;
  font-size: 1.1em;
  letter-spacing: 0.75px;
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.7);
  background-color: rgb(52, 169, 229);
  color: white;
  cursor: pointer;
}

.loginBtns {
  width: 100%;
  display: flex;
  gap: 0.5em;
}
.loginBtns button:nth-child(1) {
  width: 75%;
}
.loginBtns button:nth-child(2) {
  width: 25%;
}

#registerLoadPhoto {
  display: none;
}

#registerViewPhoto {
  background-color: red;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../elements/telegram.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#registerViewPhoto:hover {
  opacity: 0.7;
}

.fa-pen {
  position: absolute;
  top: 130px;
  right: 5px;
}

/*# sourceMappingURL=style.css.map */
